body{
    /*background-image: url("/IMAGES/universe.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background-color: black;
    padding-left: 20px;
    padding-top: 30px;
    font-family: cursive;
}

h1{
    color: black;
    background-color: white;
}

#container{
    /*background-image: url("/IMAGES/universe.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    text-align: center;
}

.row{
    padding-left: 100px;
}

#table{
    color: white;
}

#characters{
    color: white;
}

#open{
    width: 100%;
}



